@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #23262e;
}

@media screen and (min-width: 1000px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #227fb4;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #175a81;
  }
}
